<!-- <form action="/users" method="POST" accept-charset="UTF-8">

    Username: <input type="text" name="user[username]" placeholder="username"><br>
    email: <input type="email" name="user[email]" placeholder="email"><br>
    password: <input type="password" name="user[password]" placeholder="password">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" value="Submit">

</form> -->


<%= form_tag('/users') %>
  <%= label_tag :username  %>
  <%= text_field_tag :username, params[:username] %>
  <%= label_tag :email %>
  <%= text_field_tag :email, params[:email] %>
  <%= label_tag :password %>
  <%= text_field_tag :password, params[:password] %>

  <%= submit_tag "Submit" %>
